<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
</head>
<body>
    

    {% for d in data %}
     <div class="col-6">
        <img src="/media/{{d.profile_image}}" class="rounded-3 mb-3" style="width: 150px;"
        alt="Avatar" />
     </div>

     <div class="col-6">
        <h5 class="mb-2"><strong>{{d.name}}</strong></h5>
        <p class="text-muted">Python Developer <span class="badge bg-primary"> PRO</span></p>
     </div>
  



  

    <h3>Email : {{d.email}}</h3>
    <h4>City : {{d.city}}</h4>    
    <a href="/media/{{d.resume}}">Get Resume</a> <br>
    <a href="{{d.social_profile}}">Social Media Profile</a> <br>
    <a href="{{d.github_profile}}">Github Profile</a><br>
  <img src="/media/web.svg" alt="" width="50px" height="50px"> <a href="{{d.website}}">website</a>
   </b> <br>
    <p>Skills : <b>{{d.skills}}</b> </p>   <hr> 
    {% endfor %}
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>