<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
</head>

<style>
    table,th,td{
        border: 1px solid black;
        border-collapse: separate;
    }
</style>
<body>


    <table>
        <tr>

          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
        </tr>

   
          <tr>
            {% for d in data %}
            <td> {{d.name}}</td>
            <td>{{d.email}}</td>
            <td>{{d.password}}</td>
           </tr>
           {% endfor %}
     
    </table>

 



   

    


    
</body>
</html>